<html>
  <head>
    <title>pg_lupa - {{ report.title }}</title>
    <style>
      {% include "lupa.embed.css" %}
    </style>
  </head>
  <body>
    <div id="context-info">{% include "default-context.template.html" %}</div>
    <div id="timeline"></div>
  </body>

  <script id="data" type="application/json">
    {{ embeddable_data | safe }}
  </script>

  <script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/d3@7"></script>
  <script>
    {% include "lupa.embed.js" %}
  </script>
</html>
