div.tooltip {
  position: absolute;
  text-align: left;
  padding: 0.5rem;
  background: #ffffff;
  color: #313639;
  border: 1px solid #313639;
  border-radius: 4px;
  pointer-events: none;
  font-size: 1.3rem;
}

#context-info {
  position: fixed;
  top: 0;
  left: 0;
  width: 30vw;
  height: 100vh;
  overflow-y: auto;
  background-color: #fff5e5;
}

#timeline {
  position: fixed;
  top: 0;
  left: 30vw;
  width: 70vw;
  height: 100vh;
  overflow-y: auto;
}

.pg_process {
  display: none;
}

.process-primary-highlight {
  display: inline-block;
  fill: rgb(240, 180, 180);
}

.process-secondary-highlight {
  display: inline-block;
  fill: rgb(200, 200, 200);
}

.context-highlight {
  stroke: rgb(255, 200, 200);
  stroke-width: 3px;
}

table.context {
  border-collapse: collapse;
  width: 100%;
}

tr.context:nth-child(even) {
  background-color: #ffebcc;
}

td.context-label {
  color: #888;
}

td.context-value {
  color: black;
}

hr.context {
  border: 1px solid #ffebcc;
}

.helptext-container {
  text-align: center;
}

div.helptext {
  display: inline-block;
  text-align: center;
  width: 80%;
  color: #888;
}

p.blurb {
  text-align: center;
  color: #ffaa1e;
}

.blurb a:link,
.blurb a:visited,
.blurb a:hover,
.blurb a:active {
  color: #ffaa1e;
}
